{% extends 'common.html' %} {% block title %} Blog {% endblock %}
{% block body %}
 {% load static %}


 <div class="image ">
    <img  class="img-fluid" src=" {% static 'img/blog/image5.png' %}" alt="roller coaster">

</div>






<div class="row row-blog">
    <div class="col-12 col-md-8 ">
        <div class="row">
                    {% for i in page %}
                    <div class=" col-md-6 ">

            <a href="/post/{{i.slug}}" class="img-gal">

                <img class="blog-gallery-image" src="/media/{{i.image}}" alt="girl">
                <p class="date">
                    {{i.timestamp|date:"F d, Y"}}


            </p>
            <p class="titles">
                {{i.title}}

            </p>
            </a>







                     </div>
                     {% endfor %}


        </div>
        </div>

    <div class="col-4 col-md-4 right-blog">
        <div class="row recent">
            {% for i in posts %}
            <a href="/post/{{i.slug}}" class="img-gal">
                <!-- <div class="right-gallery-image" style="background: url(img/blog/main-blog/tourists.png);"></div> -->
                <img class="right-gallery-image" src="/media/{{i.image}}" alt="blog">
                <div class="content-recent">
                <p class="date">
                    {{i.timestamp|date:"F d, Y"}}
                    {{i.author}}

                </p>
                <p class="titles">
                    {{i.title}}
                </p>
            </div>
            </a>
            {% endfor %}



        </div>

    </div>
</div>

<!----pagination-->
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if page.has_previous %}
      <li class="page-item ">
        <a class="page-link" href="?page={{page.previous_page_number}}" >❮</a>
      </li>
      {% endif %}

      {% for num_page in page.paginator.page_range %}
      <br/>
      {% if page.number == num_page %}
      <li class="page-item active"><a class="page-link" href="?page={{num_page}}">{{num_page}}</a></li>


      {% else %}
      <li class="page-item "><a class="page-link" href="?page={{num_page}}">{{num_page}}</a></li>
        {% endif %}
        <br/>
      {% endfor %}


      {% if page.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{page.next_page_number}}">❯</a>
      </li>
      {% endif %}
    </ul>
  </nav>



 {% endblock %}
