{% extends 'common.html' %} {% block title %} Story {% endblock %}
{% block body %}
 {% load static %}
 <style>
   .comment-section{
    margin-top:20px;
    background-color:#e9ebee;
}

.be-comment-block {
    margin-bottom: 50px !important;
    border: 1px solid #edeff2;
    border-radius: 2px;
    padding: 50px 10px;
    border:1px solid #ffffff;
}

.comments-title {
    font-size: 16px;
    color: #262626;
    margin-bottom: 15px;
    font-family: 'Conv_helveticaneuecyr-bold';
}

.be-img-comment {
    width: 60px;
    height: 60px;
    float: left;
    margin-bottom: 15px;
}

.be-ava-comment {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.be-comment-content {
    margin-left: 3rem;
}

.be-comment-content span {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
}

.be-comment-name {
    font-size: 13px;
    font-family: 'Conv_helveticaneuecyr-bold';
}

.be-comment-content a {
    color: #383b43;
}

.be-comment-content span {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
}

.be-comment-time {
    text-align: right;
}

.be-comment-time {
    font-size: 11px;
    color: #b4b7c1;
}

.be-comment-text {
    font-size: 13px;
    line-height: 18px;
    color: #7a8192;
    display: block;
    background: #f6f6f7;
    border: 1px solid #edeff2;
    padding: 15px 20px 20px 20px;
}

.form-group.fl_icon .icon {
    position: absolute;
    top: 1px;
    left: 16px;
    width: 48px;
    height: 48px;
    background: #f6f6f7;
    color: #b5b8c2;
    text-align: center;
    line-height: 50px;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.form-group .form-input {
    font-size: 13px;
    line-height: 50px;
    font-weight: 400;
    color: #b4b7c1;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #edeff2;
    border-radius: 3px;
}

.form-group.fl_icon .form-input {
    padding-left: 70px;
}

.form-group textarea.form-input {
    height: 150px;
}

.comment {
    width: 72vw;
    /* margin: 1rem auto; */
    margin: 2rem auto;
}

.wrapper {
  position: absolute;
  top: 30%;
  left: 8%;
  transform: translate(-50%, -50%);



}
.wrapper {
    position: absolute;
    top: 29.5%;
    left: 40%;
    transform: translate(-49%, -55%);
    margin: 0.2rem auto;

}
.wrapper li{
    display: flex;
}
.wrapper ul div {
    width: 25px;
    height: 25px;

    margin: 20px 10px;
    position: relative;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);

}
/* .icon-media {
    position: absolute;
    top: 30%;
    left: 35%;
    transform: translate(-50%, -50%);
    font-size: 28px;

} */
ul {
  list-style: none;
}
/* .wrapper ul div {
  width: 40px;
  height: 40px;


  margin: 10px 0;


} */
.icon-media {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 28px;


}



 </style>
 <section class=" parent ">
    <div class="banner_inner child">

            <div class="image detail-blog">
                <!-- <img  class="img-fluid" src="img/banner/home-banner.jpg" alt="roller coaster"> -->

                <img  class="img-fluid" src="/media/{{post.image}}" alt="roller coaster">


            </div>



    </div>

    <div class="wrapper">
        <ul>
<li>
    {% load social_share %}

    {% post_to_facebook object_or_url '<i class="fa fa-facebook icon-media" aria-hidden="true"></i>' %}

    {% post_to_twitter "New Share: {{object.title}}" object_or_url '<i class="fa fa-twitter icon-media" aria-hidden="true"></i>' %}
    {% post_to_whatsapp object_or_url '<i class="fa fa-whatsapp icon-media" aria-hidden="true"></i>'%}
</li>
    </ul>
    </div>




<div class="child stack-top">
    <div class="wrapper">
        <ul>
<li>
    {% load social_share %}

    {% post_to_facebook object_or_url '<i class="fa fa-facebook icon-media" aria-hidden="true"></i>' %}

    {% post_to_twitter "New Share: {{object.title}}" object_or_url '<i class="fa fa-twitter icon-media" aria-hidden="true"></i>' %}
    {% post_to_whatsapp object_or_url '<i class="fa fa-whatsapp icon-media" aria-hidden="true"></i>'%}
</li>
    </ul>
    </div>


    <h1 class="text-center">{{post.title}} </h1>

    {% if post.video %}


        <div class="embed-responsive embed-responsive-16by9 youtube-video">


        <iframe class="embed-responsive-item" src="{{post.video}}" allowfullscreen>{{post.video}}</iframe> -->

    </div>
    {% else %}
        <img class= "image-blog" src="/media/{{post.image}}"/>
        <!-- or <img src="{% static 'Path/To?You/static/image.png' %}"/> if You not upload image everytime-->
    {% endif %}







    <!-- <img class="image-fit" src="/media/{{post.image}}" alt="girl"> -->

    <!-- <div class="embed-responsive embed-responsive-16by9 youtube-video"> -->
        <!-- {{post.video}} -->
<!--
        <iframe class="embed-responsive-item" src="{{post.video}}" allowfullscreen>{{post.video}}</iframe> -->

    <!-- </div> -->


    <!-- <img src="img/blog/image2.png"  alt="carrying bag"> -->
    <div class="content-main">
    <p class="qodef-m-text"> {{post.content|safe}} </p>

        <p class="qodef-m-text"></p>
        </p>
            <!-- <div class="single-img">
            <img  class= "image-fit" src="img/blog/image2.png"  alt="carrying bag">
            </div> -->

          <h4 class="font-weight-bold">
            -{{post.author}}
          </h4>

    </div>
</div>


</section>



<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container comment-section">
<div class="be-comment-block">
	<h1 class="comments-title">Comments </h1>
    {% for comment in comments %}

	<div class="be-comment">
		<!-- <div class="be-img-comment">
			<a href="blog-detail-2.html">
				<img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="be-ava-comment">
			</a>
		</div> -->
		<div class="be-comment-content">
  {% load crispy_forms_tags %}
				<span class="be-comment-name">
					<a href="blog-detail-2.html"> {{ comment.name }}</a>
					</span>
				<span class="be-comment-time">
					<i class="fa fa-clock-o"></i>
                    {{ comment.created_on }}
				</span>

			<p class="be-comment-text">
                {{ comment.body  }}
			</p>
		</div>
	</div>
    {% endfor %}


    <div class="">
        {% if new_comment %}
        <div class="alert alert-success" role="alert">
          Your comment is awaiting moderation
        </div>
        {% else %}
        <h1 class="comments-title">Leave a comment</h1>
        {% load crispy_forms_tags %}
        {% if user.is_authenticated %}
        <div class="comment">
        <form method="POST">
          {% csrf_token %}
          <div class="form-block">
            {{ comment_form | crispy }}
            <button class="btn btn-info" type="submit">Add comment </button>
          </div>
        </form>
    </div>
        {% else %}
        <a class="btn btn-outline-info" href="{% url 'login' %}?next={{request.path}}">Log in to add a comment!</a><br>
        {% endif %}

    <!-- <form class="form-block"> -->

    </div>

		<div class="row">


<!--
			<div class="col-xs-12 col-sm-6">
				<div class="form-group fl_icon">
					<div class="icon"><i class="fa fa-user"></i></div>
					<input class="form-input" type="text" placeholder="Your name">
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 fl_icon">
				<div class="form-group fl_icon">
					<div class="icon"><i class="fa fa-envelope-o"></i></div>
					<input class="form-input" type="text" placeholder="Your email">
				</div>
			</div>
			<div class="col-12">
				<div class="form-group">
					<textarea class="form-input" required="" placeholder="Your text"></textarea>
				</div>
			</div>
			<a class="btn btn-primary pull-right">submit</a> -->
		</div>

    {% endif %}
</div>
</div>


 {% endblock %}