{% extends 'common.html' %} {% block title %} Story {% endblock %}
{% block body %}
 {% load static %}
    <!--================Home Banner Area =================-->
	<section class="banner_area ">
		<div class="banner_inner overlay d-flex align-items-center">
			<div class="container">
				<div class="banner_content text-center">
					<div class="page_link">
						<a href="index.html">Home</a>
						<a href="elements.html">Story</a>
					</div>
					<h2>Stories</h2>
				</div>
			</div>
		</div>
	</section>
	<!--================End Home Banner Area =================-->




	<div class="row row-blog">
		<div class="col-12 col-md-8 ">
			<div class="row">
						<div class="col-6 col-md-6 ">

				<a href="story-detail.html" class="img-gal">
					<div class="blog-gallery-image" style="background: url(img/elements/g1.jpg);"></div>
				<p>
					NOVEMBER 3, 2022
					What legal tools have been tried for ending caste-
					based discrimination?
				</p>
				<p>
					Why are we still infested with this terrible disease of
					human-hate at this stage of developed societal consciousness?
				</p>
				</a>




					<a href="img/elements/g1.jpg" class="img-gal">
						<div class="blog-gallery-image" style="background: url(img/elements/g1.jpg);"></div>
					<p>
						OCTOBER 2, 2022
						HOW THE HELL DID I DO IT?
					</p>
					<p>
						I escaped death! – Guru Gauranga Das.
					</p>
					</a>



					<div>
						<a href="img/elements/g1.jpg" class="img-gal">
							<div class="blog-gallery-image" style="background: url(img/elements/g1.jpg);"></div>
						<p>
							OCTOBER 2, 2022
							HOW THE HELL DID I DO IT?
						</p>
						<p>
							I escaped death! – Guru Gauranga Das.
						</p>
						</a>
						</div>


						<div>
							<a href="img/elements/g1.jpg" class="img-gal">
								<div class="blog-gallery-image" style="background: url(img/elements/g1.jpg);"></div>
							<p>
								OCTOBER 2, 2022
								HOW THE HELL DID I DO IT?
							</p>
							<p>
								I escaped death! – Guru Gauranga Das.
							</p>
							</a>
							</div>

				</div>

			<div class="col-6 col-md-6">
				<a href="img/elements/g3.jpg" class="img-gal">
					<div class="blog-gallery-image" style="background: url(img/elements/g3.jpg);"></div>
					<p>
						OCTOBER 2, 2022
						HOW THE HELL DID I DO IT?
					</p>
					<p>
						I escaped death! – Guru Gauranga Das.
					</p>
				</a>


				<a href="img/elements/g3.jpg" class="img-gal">
					<div class="blog-gallery-image" style="background: url(img/elements/g3.jpg);"></div>
					<p>
						OCTOBER 2, 2022
						HOW THE HELL DID I DO IT?
					</p>
					<p>
						I escaped death! – Guru Gauranga Das.
					</p>
				</a>
			</div>

			</div>
			</div>

		<div class="col-4 col-md-3 right-blog">
			<div class="row recent">
				<a href="img/elements/g3.jpg" class="img-gal">
					<div class="right-gallery-image" style="background: url(img/elements/g3.jpg);"></div>
					<div class="content-recent">
					<p>
						OCTOBER 2, 2022

					</p>
					<p>
						I escaped death! – Guru Gauranga Das.
					</p>
				</div>
				</a>


				<a href="img/elements/g3.jpg" class="img-gal">
					<div class="right-gallery-image" style="background: url(img/elements/g3.jpg);"></div>
					<div class="content-recent">
					<p>
						OCTOBER 2, 2022

					</p>
					<p>
						I escaped death! – Guru Gauranga Das.
					</p>
				</div>
				</a>

				<a href="img/elements/g3.jpg" class="img-gal">
					<div class="right-gallery-image" style="background: url(img/elements/g3.jpg);"></div>
					<div class="content-recent">
					<p>
						OCTOBER 2, 2022

					</p>
					<p>
						I escaped death! – Guru Gauranga Das.
					</p>
				</div>
				</a>
				<a href="img/elements/g3.jpg" class="img-gal">
					<div class="right-gallery-image" style="background: url(img/elements/g3.jpg);"></div>
					<div class="content-recent">
					<p>
						OCTOBER 2, 2022

					</p>
					<p>
						I escaped death! – Guru Gauranga Das.
					</p>
				</div>
				</a>
			</div>

		</div>
	</div>

 {% endblock %}