{% extends 'common.html' %} {% block title %} Lawcater {% endblock %}
{% block body %}
 {% load static %}

  <!--================Home Banner Area =================-->
  <section class="banner_area ">
    <div class="banner_inner overlay d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <div class="page_link">
                    <a href="index.html">Home</a>
                    <a href="team.html">Team</a>
                </div>
                <h2>Team Member</h2>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================ Start Team Area =================-->
 <section class="section_gap team-areas mt-5">
    <div class="row ">
        <div class="col-md-4">
          <div>
            <img alt="Web Studio" class="img-fluid" src="{% static 'img/team/smriti.jpg' %}" />
          </div>
          <h6  class = "title-team" style="color: #E71514;">Admin/Director</h6>
          <p>Smriti Poudel</p>
        </div>
        <div class="col-md-8 ">
          <div>
            <p>Align image and text in same line in bootstrap

                I would like to publish the shipment according to the specified date and time.

                For example, when I send the article today, I want it to be published automatically when the time comes tomorrow. (or at any date and time)</p>
                Align image and text in same line in bootstrap I would like to publish the shipment according to the specified date and time. For example, when I send the article today, I want it to be published automatically when the time comes tomorrow. (or at any date and time)
          </div>
        </div>
      </div>

      <div class="row team">

        <div class="col-md-8 ">
          <div>
            <p>Align image and text in same line in bootstrap

                I would like to publish the shipment according to the specified date and time.

                For example, when I send the article today, I want it to be published automatically when the time comes tomorrow. (or at any date and time)</p>
                Align image and text in same line in bootstrap I would like to publish the shipment according to the specified date and time. For example, when I send the article today, I want it to be published automatically when the time comes tomorrow. (or at any date and time)
          </div>
        </div>
        <div class="col-md-4">
            <div>
              <img alt="Web Studio" class="img-fluid" src="{% static 'img/team/shrijala.jpg' %}" />
            </div>
            <h6  class = "title-team" style="color: #E71514;">Content Creator</h6>
            <p>Shrijala Pandey</p>
          </div>
      </div>

      <div class="row team">
        <div class="col-md-4">
            <div>
              <img alt="Web Studio" class="img-fluid" src="{% static 'img/team/sejal.jpg' %}" />
            </div>
            <h6  class = "title-team" style="color: #E71514;">Researcher</h6>
            <p>Sejal Acharya</p>
          </div>
        <div class="col-md-8 ">
          <div>
            <p>Align image and text in same line in bootstrap

                I would like to publish the shipment according to the specified date and time.

                For example, when I send the article today, I want it to be published automatically when the time comes tomorrow. (or at any date and time)</p>
                Align image and text in same line in bootstrap I would like to publish the shipment according to the specified date and time. For example, when I send the article today, I want it to be published automatically when the time comes tomorrow. (or at any date and time)
          </div>
        </div>

      </div>

      <div class="row team">

        <div class="col-md-8 ">
          <div>
            <p>Align image and text in same line in bootstrap

                I would like to publish the shipment according to the specified date and time.

                For example, when I send the article today, I want it to be published automatically when the time comes tomorrow. (or at any date and time)</p>
                Align image and text in same line in bootstrap I would like to publish the shipment according to the specified date and time. For example, when I send the article today, I want it to be published automatically when the time comes tomorrow. (or at any date and time)
          </div>
        </div>
        <div class="col-md-4">
            <div>
              <img alt="Web Studio" class="img-fluid" src="{% static 'img/team/binit.jpg' %}" />
            </div>
            <h6  class = "title-team" style="color: #E71514;">Camera person</h6>
            <p>Binit BT Magar</p>
          </div>
      </div>

      <div class="row team">
        <div class="col-md-4">
          <div>
            <img alt="Web Studio" class="img-fluid" src="{% static 'img/team/pranab.jpg' %}" />
          </div>
          <h6  class = "title-team" style="color: #E71514;">IT Architect</h6>
          <p>Pranab Pokhrel</p>
        </div>
        <div class="col-md-8 ">
          <div>
            <p>Align image and text in same line in bootstrap

                I would like to publish the shipment according to the specified date and time.

                For example, when I send the article today, I want it to be published automatically when the time comes tomorrow. (or at any date and time)</p>
                Align image and text in same line in bootstrap I would like to publish the shipment according to the specified date and time. For example, when I send the article today, I want it to be published automatically when the time comes tomorrow. (or at any date and time)
          </div>
        </div>
      </div>
    <!-- <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="main_title">
                    <h2>Meet Our Experienced Team</h2>
                    <p>Life is synonymous to stories. And stories belong to the ordinary people just as much as they are highlighted to be about the ones in the limelight. Our objective as 'Lawcaters' is to bring out the unheard and underrepresented stories of newness and timeless truths, of ecstasies and pains, of pioneering and stereotypes, to a platform visible to more common sharers of such experiences. Along with serving stories, we intend to infuse law wherever it's able to address issues circumventing the stories.In today's stage of civilization, as much synonymous life is to stories, it is to law too. So you can expect doses of laymen stories from us and to be weaved along as we try to opine socio-legal solutions to very many issues we as a society do not address in general.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">

            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="single_member">
                    <div class="author">
                        <img class="img-fluid" src="{% static 'img/team/smriti.jpg' %}" alt="girl">
                    </div>
                    <div class="author_decs">
                        <h5>Smriti Paudel</h5>
                        <p class="profession">Admin/Director</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="single_member">
                    <div class="author">
                        <img class="img-fluid" src="{% static 'img/team/shrijala.jpg' %}" alt="girl">
                    </div>
                    <div class="author_decs">
                        <h5>Shrijala Pandey</h5>
                        <p class="profession">Content Writer</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="single_member">
                    <div class="author">
                        <img class="img-fluid" src="{% static 'img/team/sejal.jpg' %}" alt="girl">
                    </div>
                    <div class="author_decs">
                        <h5>Sejal Acharya</h5>
                        <p class="profession">Researcher</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="single_member">
                    <div class="author">
                        <img class="img-fluid" src="{% static 'img/team/binit.jpg' %}" alt="boy">
                    </div>
                    <div class="author_decs">
                        <h5>Binit BT Magar</h5>
                        <p class="profession">Cameraperson</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="single_member">
                    <div class="author">
                        <img class="img-fluid" src="{% static 'img/team/pranab.jpg' %}" alt="boy">
                    </div>
                    <div class="author_decs">
                        <h5>Pranab Pokharel</h5>
                        <p class="profession">IT Architect</p>
                    </div>
                </div>
            </div>

        </div>
    </div> -->
</section>

<!-- <section class="section mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div>
            <img alt="Web Studio" class="img-fluid" src="{% static 'img/team/smriti.jpg' %}" />
          </div>
        </div>
        <div class="col-md-8 ">
          <div>
            <p>Align image and text in same line in bootstrap

                I would like to publish the shipment according to the specified date and time.

                For example, when I send the article today, I want it to be published automatically when the time comes tomorrow. (or at any date and time)</p>

          </div>
        </div>
      </div>
    </div>
  </section> -->

{% endblock %}